<h1><strong><u>Online Retail Data Analysis</u></strong></h1>

In [1]:
import pandas as pd
from DBConnectionEngine import DBConnectionEngine

In [2]:
TABLE_NAME = 'transactions' 
engine = DBConnectionEngine().getEngine()

In [3]:
# --- (Optional) Verify the data import ---
# Read data back from SQL to verify
try:
    df = pd.read_sql_table(TABLE_NAME, con=engine)
    print("\nData successfully read back from SQL table:")
    print(df.head())
except Exception as e:
    print(f"Error verifying data from SQL: {e}")

Data successfully read back from SQL table:
  Invoice Stock_Code                          Description  Quantity  \
0  489434      85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1  489434     79323P                   PINK CHERRY LIGHTS        12
2  489434     79323W                  WHITE CHERRY LIGHTS        12
3  489434      22041         RECORD FRAME 7" SINGLE SIZE         48
4  489434      21232       STRAWBERRY CERAMIC TRINKET BOX        24

         Invoice_Date  Price  Customer_ID         Country
0 2009-12-01 07:45:00   6.95      13085.0  United Kingdom
1 2009-12-01 07:45:00   6.75      13085.0  United Kingdom
2 2009-12-01 07:45:00   6.75      13085.0  United Kingdom
3 2009-12-01 07:45:00   2.10      13085.0  United Kingdom
4 2009-12-01 07:45:00   1.25      13085.0  United Kingdom

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Invoice       1067371 non-null  object
 1   Stock_Code    1067371 non-null  object
 2   Description   1062989 non-null  object
 3   Quantity      1067371 non-null  int64
 4   Invoice_Date  1067371 non-null  datetime64[ns]
 5   Price         1067371 non-null  float64
 6   Customer_ID   824364 non-null   float64
 7   Country       1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 65.1+ MB

In [ ]:
column = 'Country'
countrys = df[column].unique()
list = countrys.tolist()
print(f"{column.title()} Values: ", *countrys)

Country Values:  United Kingdom France USA Belgium Australia EIRE Germany Portugal Japan Denmark Nigeria Netherlands Poland Spain Channel Islands Italy Cyprus Greece Norway Austria Sweden United Arab Emirates Finland Switzerland Unspecified Malta Bahrain RSA Bermuda Hong Kong Singapore Thailand Israel Lithuania West Indies Lebanon Korea Brazil Canada Iceland Saudi Arabia Czech Republic European Community