Create a template DBConnection with no info and use that for Github

In [ ]:
import pandas as pd
from DBConnectionMySQLEngine import DBConnectionEngine

In [ ]:
TABLE_NAME = 'transactions' 
engine = DBConnectionEngine()

In [ ]:
# --- (Optional) Verify the data import ---
# Read data back from SQL to verify
try:
    df = pd.read_sql_table(TABLE_NAME, con=engine)
    print("\nData successfully read back from SQL table:")
    print(df.head())
except Exception as e:
    print(f"Error verifying data from SQL: {e}")

Data successfully read back from SQL table:
  Invoice Stock_Code                          Description  Quantity  \
0  489434      85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1  489434     79323P                   PINK CHERRY LIGHTS        12
2  489434     79323W                  WHITE CHERRY LIGHTS        12
3  489434      22041         RECORD FRAME 7" SINGLE SIZE         48
4  489434      21232       STRAWBERRY CERAMIC TRINKET BOX        24

         Invoice_Date  Price  Customer_ID         Country
0 2009-12-01 07:45:00   6.95      13085.0  United Kingdom
1 2009-12-01 07:45:00   6.75      13085.0  United Kingdom
2 2009-12-01 07:45:00   6.75      13085.0  United Kingdom
3 2009-12-01 07:45:00   2.10      13085.0  United Kingdom
4 2009-12-01 07:45:00   1.25      13085.0  United Kingdom